<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pick My Champion</title>
    <link rel="stylesheet" type="text/css" href="/static/css/picker.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="/scripts/js/champion_areas.js"></script>
</head>

<body>
<div id='bans'>
    <team1bans>
        <div class="championDropArea" id="team1ban1"></div>
        <div class="championDropArea" id="team1ban2"></div>
        <div class="championDropArea" id="team1ban3"></div>
    </team1bans>
    <team2bans>
        <div class="championDropArea" id="team2ban1"></div>
        <div class="championDropArea" id="team2ban2"></div>
        <div class="championDropArea" id="team2ban3"></div>
    </team2bans>
</div>
<div id='main'>
    <championList id="championList">
    </championList>
    <team1picks>
        <div class="championDropArea" id="team1pick1"></div>
        <div class="championDropArea" id="team1pick2"></div>
        <div class="championDropArea" id="team1pick3"></div>
        <div class="championDropArea" id="team1pick4"></div>
        <div class="championDropArea" id="team1pick5"></div>
    </team1picks>
    <team2picks>
        <div class="championDropArea" id="team2pick1"></div>
        <div class="championDropArea" id="team2pick2"></div>
        <div class="championDropArea" id="team2pick3"></div>
        <div class="championDropArea" id="team2pick4"></div>
        <div class="championDropArea" id="team2pick5"></div>
    </team2picks>
</div>
<footer>footer</footer>
</body>

</html>